@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fffefe;
}

/* Navber Link */
.navLi span{
  background-color: transparent !important;
}
.navLi a.active li{
  color: rgb(6, 211, 68) !important;
}

.navLi a.active:hover li{
  border-width: 1px;
  border-color: rgb(6, 211, 68) !important;
}

/* Featured component */
.featured-item {
  background-image: url("./assets/home/featured.jpg");
}

/* WelcomeArea component */
.button__bottom-top {
  border: 2px solid black;
  background: linear-gradient(to top, #4478ea 50%, #f7f8f8 50%);
  background-size: 100% 200%;
  background-position: top left;
  transition: all 0.5s ease-out;
}
.button__bottom-top:hover {
  border: 2px solid limegreen;
  background-position: bottom left;
  color: #fff;
}

/* MenuItem component */
.zoomImg{
  visibility: hidden;
}
.zoomImgShow:hover .smallImg{
  border-radius: 200px 0px 200px 200px !important;
  transition: all .2s ease-in;
}
.zoomImgShow:hover .zoomImg{
  visibility: visible !important;
  box-shadow: 0 20px 25px -10px;
  margin-top: 20px !important;
  transition: all 0.30s ease-in;
}

/* Menu page */
.MenuBanner{
  background-image: url("./assets/banner/contact1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.trnsc:hover .trns{
transition: all .25s ease-in;
}

/* Menu card */
.strMealThumb:hover h3{
  /* visibility: hidden; */
}
.button:hover{
  transition: all .2s linear;
}
/* cart */
/* #borderimg1 {
  margin: 10px 0;
  border: 10px solid transparent;
  padding: 15px;
  border-image: url("./assets/dashboard/border.png") 30 stretch;
} */