.swiper {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: blue !important;
  opacity: 0.65 !important;
}
.swiper-pagination-bullet-active {
  background-color: rgb(37, 245, 37) !important;
  opacity: 1 !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
